<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NUEEP - Nova Empresa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet"
        type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#cnpj').mask('00.000.000/0000-00');
            $('#cep').mask('00000-000');
            $('#telefone-candidato').mask('(00) 0000-0000');
            $('#celular-candidato').mask('(00) 00000-0000');
        });
    </script>

</head>

<body style="background-color: #6e6e6e">
    <div id="navbar-default"></div>
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Cadastrar nova empresa
                </h1>
                <h2 class="subtitle">
                    Preencha o formulário abaixo para cadastrar uma nova empresa.
                </h2>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="notification">
            <form  id="formulario" th:action="@{/empresa/salvar}" method="POST" onsyu>
                <input type="hidden" th:field="${empresa.id}" name="" id="">
                <div class="columns is-gapless">
                    <div class="column is-one-quarter">
                        <div class="form">
                            <label for="cnpj">CNPJ da Empresa</label>
                            <div class="control">
                                <input class="input" th:field="${empresa.cnpj}" type="text" name="cnpj" id="cnpj"
                                    data-validation="length validar_cnpj" data-validation-length="18">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="form">
                            <label for="">&nbsp;&nbsp;</label>
                            <div class="control ">
                                <input class="button is-info" type="submit" form="cpf-form" value="Pesquisar"> </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <label for="nomeFantasia">Nome Fantasia</label>
                            <div class="control">
                                <input class="input" th:field="${empresa.nomeFantasia}"
                                    onkeyup="this.value = this.value.toUpperCase();" data-validation="required"
                                    type="text" name="nomeFantasia" id="nomeFantasia">
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label for="razaoSocial">Razão Social</label>
                            <div class="control">
                                <input class="input" th:field="${empresa.nomeSocial}"
                                    onkeyup="this.value = this.value.toUpperCase();" data-validation="required"
                                    type="text" name="razaoSocial" id="razaoSocial">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="field">
                            <label for="responsavel">Responsável</label>
                            <div class="control">
                                <input class="input" th:field="${empresa.responsavel}" onkeyup="this.value = this.value.toUpperCase();" type="text" name="" id="">
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                            <div class="field">
                                    <label for="porte">Porte</label>
                                    <div class="control">
                                        <div class="select">
                                            <select th:field=${empresa.porte} data-validation="required">
                                                <option value="">Selecionar...</option>
                                                <option th:value="'Microempresa'" th:text="Microempresa"></option>
                                                <option th:value="'EPP'" th:text="EPP"></option>
                                                <option th:value="'Medio'" >Médio</option>
                                                <option th:value="'Grande'" th:text="Grande"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label>Website</label>
                            <div class="control">
                                <input class="input" type="text" name="" id="" placeholder="Site da empresa" th:field="${empresa.website}">
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <h4 class="title is-4">Informações de Contato</h4>
                <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="field">
                            <label>Telefone Fixo</label>
                            <div class="control">
                                <input class="input" th:field="${telefone.fixo}" type="text"
                                    data-validation="length validar_telefone" data-validation-length="14"
                                    id="telefone-candidato" placeholder="(00) 0000-0000">
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="field">
                            <label for="celular-candidato">Celular</label>
                            <div class="control">
                                <input class="input" th:field="${telefone.celular}" type="text"
                                    data-validation="length validar_celular" data-validation-length="15" name=""
                                    id="celular-candidato">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label for="email-candidato">E-mail</label>
                            <div class="control has-icons-left">
                                <input class="input" th:field="${empresa.email}"
                                    onkeyup="this.value = this.value.toLowerCase();" type="text" data-validation="email"
                                    name="">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="title is-4">Informações de Endereço</h4>
                <div class="columns is-gapless">
                    <div class="column is-one-quarter">
                        <div class="form">
                            <label for="cep-candidato">CEP</label>
                            <div class="control">
                                <input class="input" type="text" th:field="${endereco.cep}" name="cep" id="cep"
                                    data-validation="length" data-validation-length="9"
                                    onblur="pesquisacep(this.value);">
                            </div>
                        </div>
                    </div>

                    <div class="column is-2">
                        <div class="form">
                            <label for="">&nbsp;&nbsp;</label>
                            <div class="control">
                                <a class="button is-warning"
                                    href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm"
                                    target="_blank">Pesquisar nos Correios</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="field">
                            <label for="rua">Logradouro</label>
                            <div class="control">
                                <input class="input" th:field="${endereco.logradouro}" data-validation="required"
                                    type="text" name="" id="rua" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field">
                            <label for="numero-residencial">Número</label>
                            <div class="control">
                                <input class="input" th:field="${empresa.numero}" data-validation="number" type="text"
                                    name="" id="numero">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label for="complemento-residencial">Complemento</label>
                            <div class="control">
                                <input class="input" th:field="${empresa.complemento}" type="text" name=""
                                    id="complemento">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="field">
                            <label for="bairro">Bairro</label>
                            <div class="control">
                                <input class="input" type="text" th:field="${endereco.bairro}"
                                    data-validation="required" name="" id="bairro" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="field">
                            <label for="cidade">Localidade</label>
                            <div class="control">
                                <input class="input" th:field="${municipio.nome}" type="text" data-validation="required"
                                    name="" id="cidade" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field">
                            <label for="uf">UF</label>
                            <div class="control">
                                <input class="input" type="text" th:field="${estado.uf}" data-validation="required"
                                    name="" id="uf" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <div class="buttons is-right">
                    <button class="button is-warning is-large">Limpar</button>
                    <button class="button is-success is-large" type="submit">Salvar Empresa</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function limpa_formulário_cep() {
            document.getElementById('rua').value = ("");
            document.getElementById('bairro').value = ("");
            document.getElementById('cidade').value = ("");
            document.getElementById('uf').value = ("");
        }

        function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
                document.getElementById('rua').value = (conteudo.logradouro);
                document.getElementById('bairro').value = (conteudo.bairro);
                document.getElementById('cidade').value = (conteudo.localidade);
                document.getElementById('uf').value = (conteudo.uf);

            } else {
                limpa_formulário_cep();
                alert("CEP não encontrado.");
            }
        }

        function pesquisacep(valor) {

            var cep = valor.replace(/\D/g, '');

            if (cep != "") {

                var validacep = /^[0-9]{8}$/;

                if (validacep.test(cep)) {

                    document.getElementById('rua').value = "...";
                    document.getElementById('bairro').value = "...";
                    document.getElementById('cidade').value = "...";
                    document.getElementById('uf').value = "...";
                    document.getElementById('numero').value = ("");
                    document.getElementById('complemento').value = ("");

                    var script = document.createElement('script');

                    script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                    document.body.appendChild(script);

                } else {
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } else {
                limpa_formulário_cep();
            }
        };
    </script>
    <script>
        $(document).ready(function () {
            $("#navbar-default").load("/navbar.html");
        });
    </script>


    <script>
        $(document).ready(function () {

            $.formUtils.addValidator({
                name: 'validar_celular',
                validatorFunction: function validarTelefoneFixo(numero) {
                    numero = numero.replace(/\D/g, '');

                    if (numero.substring(0, 2) == "11" ||
                        numero.substring(0, 2) == "12" ||
                        numero.substring(0, 2) == "13" ||
                        numero.substring(0, 2) == "14" ||
                        numero.substring(0, 2) == "15" ||
                        numero.substring(0, 2) == "16" ||
                        numero.substring(0, 2) == "17" ||
                        numero.substring(0, 2) == "18" ||
                        numero.substring(0, 2) == "19" ||
                        numero.substring(0, 2) == "21" ||
                        numero.substring(0, 2) == "22" ||
                        numero.substring(0, 2) == "27" ||
                        numero.substring(0, 2) == "28" ||
                        numero.substring(0, 2) == "31" ||
                        numero.substring(0, 2) == "32" ||
                        numero.substring(0, 2) == "33" ||
                        numero.substring(0, 2) == "34" ||
                        numero.substring(0, 2) == "35" ||
                        numero.substring(0, 2) == "37" ||
                        numero.substring(0, 2) == "38" ||
                        numero.substring(0, 2) == "41" ||
                        numero.substring(0, 2) == "42" ||
                        numero.substring(0, 2) == "43" ||
                        numero.substring(0, 2) == "44" ||
                        numero.substring(0, 2) == "45" ||
                        numero.substring(0, 2) == "46" ||
                        numero.substring(0, 2) == "47" ||
                        numero.substring(0, 2) == "48" ||
                        numero.substring(0, 2) == "49" ||
                        numero.substring(0, 2) == "51" ||
                        numero.substring(0, 2) == "53" ||
                        numero.substring(0, 2) == "54" ||
                        numero.substring(0, 2) == "55" ||
                        numero.substring(0, 2) == "61" ||
                        numero.substring(0, 2) == "62" ||
                        numero.substring(0, 2) == "63" ||
                        numero.substring(0, 2) == "64" ||
                        numero.substring(0, 2) == "65" ||
                        numero.substring(0, 2) == "66" ||
                        numero.substring(0, 2) == "67" ||
                        numero.substring(0, 2) == "68" ||
                        numero.substring(0, 2) == "69" ||
                        numero.substring(0, 2) == "71" ||
                        numero.substring(0, 2) == "73" ||
                        numero.substring(0, 2) == "75" ||
                        numero.substring(0, 2) == "77" ||
                        numero.substring(0, 2) == "79" ||
                        numero.substring(0, 2) == "81" ||
                        numero.substring(0, 2) == "82" ||
                        numero.substring(0, 2) == "83" ||
                        numero.substring(0, 2) == "84" ||
                        numero.substring(0, 2) == "85" ||
                        numero.substring(0, 2) == "86" ||
                        numero.substring(0, 2) == "87" ||
                        numero.substring(0, 2) == "88" ||
                        numero.substring(0, 2) == "89" ||
                        numero.substring(0, 2) == "91" ||
                        numero.substring(0, 2) == "92" ||
                        numero.substring(0, 2) == "93" ||
                        numero.substring(0, 2) == "94" ||
                        numero.substring(0, 2) == "95" ||
                        numero.substring(0, 2) == "96" ||
                        numero.substring(0, 2) == "97" ||
                        numero.substring(0, 2) == "98" ||
                        numero.substring(0, 2) == "99"
                    ) {
                        if (numero.substring(2, 3) == "9" ||
                            numero.substring(2, 3) == "8" ||
                            numero.substring(2, 3) == "7"
                        ) {
                            console.log(numero.substring(2, 3));
                            return true;
                        } else return false;
                    } else return false;
                },
                errorMessage: 'Celular Inválido',
                errorMessageKey: ''
            });

            $.formUtils.addValidator({
                name: 'validar_telefone',
                validatorFunction: function validarTelefoneFixo(numero) {
                    numero = numero.replace(/\D/g, '');

                    if (numero.substring(0, 2) == "11" ||
                        numero.substring(0, 2) == "12" ||
                        numero.substring(0, 2) == "13" ||
                        numero.substring(0, 2) == "14" ||
                        numero.substring(0, 2) == "15" ||
                        numero.substring(0, 2) == "16" ||
                        numero.substring(0, 2) == "17" ||
                        numero.substring(0, 2) == "18" ||
                        numero.substring(0, 2) == "19" ||
                        numero.substring(0, 2) == "21" ||
                        numero.substring(0, 2) == "22" ||
                        numero.substring(0, 2) == "27" ||
                        numero.substring(0, 2) == "28" ||
                        numero.substring(0, 2) == "31" ||
                        numero.substring(0, 2) == "32" ||
                        numero.substring(0, 2) == "33" ||
                        numero.substring(0, 2) == "34" ||
                        numero.substring(0, 2) == "35" ||
                        numero.substring(0, 2) == "37" ||
                        numero.substring(0, 2) == "38" ||
                        numero.substring(0, 2) == "41" ||
                        numero.substring(0, 2) == "42" ||
                        numero.substring(0, 2) == "43" ||
                        numero.substring(0, 2) == "44" ||
                        numero.substring(0, 2) == "45" ||
                        numero.substring(0, 2) == "46" ||
                        numero.substring(0, 2) == "47" ||
                        numero.substring(0, 2) == "48" ||
                        numero.substring(0, 2) == "49" ||
                        numero.substring(0, 2) == "51" ||
                        numero.substring(0, 2) == "53" ||
                        numero.substring(0, 2) == "54" ||
                        numero.substring(0, 2) == "55" ||
                        numero.substring(0, 2) == "61" ||
                        numero.substring(0, 2) == "62" ||
                        numero.substring(0, 2) == "63" ||
                        numero.substring(0, 2) == "64" ||
                        numero.substring(0, 2) == "65" ||
                        numero.substring(0, 2) == "66" ||
                        numero.substring(0, 2) == "67" ||
                        numero.substring(0, 2) == "68" ||
                        numero.substring(0, 2) == "69" ||
                        numero.substring(0, 2) == "71" ||
                        numero.substring(0, 2) == "73" ||
                        numero.substring(0, 2) == "75" ||
                        numero.substring(0, 2) == "77" ||
                        numero.substring(0, 2) == "79" ||
                        numero.substring(0, 2) == "81" ||
                        numero.substring(0, 2) == "82" ||
                        numero.substring(0, 2) == "83" ||
                        numero.substring(0, 2) == "84" ||
                        numero.substring(0, 2) == "85" ||
                        numero.substring(0, 2) == "86" ||
                        numero.substring(0, 2) == "87" ||
                        numero.substring(0, 2) == "88" ||
                        numero.substring(0, 2) == "89" ||
                        numero.substring(0, 2) == "91" ||
                        numero.substring(0, 2) == "92" ||
                        numero.substring(0, 2) == "93" ||
                        numero.substring(0, 2) == "94" ||
                        numero.substring(0, 2) == "95" ||
                        numero.substring(0, 2) == "96" ||
                        numero.substring(0, 2) == "97" ||
                        numero.substring(0, 2) == "98" ||
                        numero.substring(0, 2) == "99"
                    ) {
                        if (numero.substring(2, 3) == "3" ||
                            numero.substring(2, 3) == "4"
                        ) {
                            console.log(numero.substring(2, 3));
                            return true;
                        } else return false;
                    } else return false;
                },
                errorMessage: 'Telefone Inválido',
                errorMessageKey: ''
            });

            $.formUtils.addValidator({
                name: 'validar_cnpj',
                validatorFunction: function validarCNPJ(cnpj) {

                    cnpj = cnpj.replace(/[^\d]+/g, '');

                    if (cnpj == '') return false;

                    if (cnpj.length != 14)
                        return false;

                    // Elimina CNPJs invalidos conhecidos
                    if (cnpj == "00000000000000" ||
                        cnpj == "11111111111111" ||
                        cnpj == "22222222222222" ||
                        cnpj == "33333333333333" ||
                        cnpj == "44444444444444" ||
                        cnpj == "55555555555555" ||
                        cnpj == "66666666666666" ||
                        cnpj == "77777777777777" ||
                        cnpj == "88888888888888" ||
                        cnpj == "99999999999999")
                        return false;

                    // Valida DVs
                    tamanho = cnpj.length - 2
                    numeros = cnpj.substring(0, tamanho);
                    digitos = cnpj.substring(tamanho);
                    soma = 0;
                    pos = tamanho - 7;
                    for (i = tamanho; i >= 1; i--) {
                        soma += numeros.charAt(tamanho - i) * pos--;
                        if (pos < 2)
                            pos = 9;
                    }
                    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                    if (resultado != digitos.charAt(0))
                        return false;

                    tamanho = tamanho + 1;
                    numeros = cnpj.substring(0, tamanho);
                    soma = 0;
                    pos = tamanho - 7;
                    for (i = tamanho; i >= 1; i--) {
                        soma += numeros.charAt(tamanho - i) * pos--;
                        if (pos < 2)
                            pos = 9;
                    }
                    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                    if (resultado != digitos.charAt(1))
                        return false;

                    return true;

                },
                errorMessage: 'CNPJ Inválido',
                errorMessageKey: ''

            });
            $.validate({
                modules: 'brazil',
                lang: 'pt',
                modules: 'date'
            });
        });
    </script>
</body>
<footer class="footer" style="background: #363636">
    <div class="content has-text-centered">
        <p style="color: white">
            <strong style="color: white"> NUEEP Estágio</strong> é um sistema desenvolvido para o Projeto Integrador do
            Terceiro Semestre<br>
            do Curso de Análise e Desenvolvimento de Sistema da Unicuritiba.
        </p>
        <a href="https://bulma.io">
            <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="256" height="48">
        </a>
    </div>
</footer>



</html>