<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listar Vagas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#navbar-default").load("/navbar.html");
            $('#tabelaCandidato').DataTable();
            $('#tabelaCandidatoSelecionado').DataTable();
        });
    </script>

</head>

<body style="background-color: #6e6e6e">
<div id="navbar-default"></div>
<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <span th:text="${vaga.hierarquia.getNivel().getName()}"></span> de <span
                    th:text="${vaga.area.getNome().getName()}"></span> <br> Empresa: <span
                    th:text="${vaga.empresa.getNomeSocial()}"></span>
            </h1>
            <h2 class="subtitle">
                Data de inclusão: <i><span th:text="${vaga.dataCadastro}"></span></i>
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="notification">
        <div class="buttons is-right">
            <a class="button is-primary">Editar Vaga</a>
            <a class="button is-danger">Remover Vaga</a>
        </div>
        <h4 class="title is-4">Detalhes da Vaga</h4>
        <p><i>Vaga Id:</i> <span th:text="${vaga.id}"></span></p>
        <p>Função: <span th:text="${vaga.hierarquia.getNivel().getName()}"></span></p>
        <p>Área: <span th:text="${vaga.area.getNome().getName()}"></span></p>
        <p>Período: <span th:text="${vaga.turno.getPeriodo().getName()}"></span></p>
        <p>Salário: <strong><span th:text="${vaga.salarioReais}"></span></strong></p>
        <p>Vale Transporte: <span th:text="${vaga.valeTransporte}"></span></p>
        <p>Vale Refeição: <span th:text="${vaga.valeRefeicao}"></span></p>
        <p>Idade minima exigida: <span th:text="${vaga.idade_minima}"></span></p>
        <p>Descrição da Vaga:<i> <span th:text="${vaga.descricao}"></span></i></p>
        <br>
        <h4 class="title is-4">Detalhes da Empresa</h4>
        <p>Nome Fantasia: <span th:text="${vaga.empresa.getNomeFantasia()}"></span></p>
        <p>Razão Social: <span th:text="${vaga.empresa.getNomeSocial()}"></span></p>
        <p>CNPJ: <span th:text="${vaga.empresa.getCnpj()}"></span></p>
        <p>Responsável: <span th:text="${vaga.empresa.getResponsavel()}"></span></p>
        <!--<p>Telefone: <span th:text="${vaga.getEmpresa().getTelefone().get(0).getFixo()}"></span></p>-->
        <p>Email: <span th:text="${vaga.getEmpresa().getEmail()}"></span></p>
        <br>
        <h4 class="title is-4">Endereço</h4>
        <p>Endereço Completo: <span th:text="${vaga.getEmpresa().getEndereco().getLogradouro()}"></span>, <span
                th:text="${vaga.getEmpresa().numero}"></span>. <span
                th:text="${vaga.getEmpresa().complemento}"></span>. <span
                th:text="${vaga.getEmpresa().getEndereco().municipio.getNome()}"></span>/ <span
                th:text="${vaga.getEmpresa().getEndereco().municipio.estado.getUf()}"></span>. CEP:
            <span th:text="${vaga.getEmpresa().getEndereco().getCep()}"></span></p>
        <br>
        <h4 class="title is-4">Candidatos selecionados</h4>
        <table id="tabelaCandidatoSelecionado" class="display">
            <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome Completo</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempVagas :${candidatosVaga}">
                <td th:text="${tempVagas?.getMatricula()}"></td>
                <td th:text="${tempVagas?.getNomeCompleto()}"></td>
                <td th:text="${tempVagas?.getTelefone().getCelular()}"></td>
                <td th:text="${tempVagas?.getIdade()}">Anos</td>
                <td>
                    <a class="button is-small is-success" target="_blank" >
                        <span class="icon">
                            <i class="fab fa-whatsapp"></i>
                        </span>
                        <span>Whatsapp</span>
                    </a>
                    <a class="button is-small is-danger" th:href="@{/vaga/excluirCandidato(candidato=${tempVagas.getId()},vaga=${vaga.getId()})}">
                        Remover
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
        <br>
        <h4 class="title is-4">Candidatos por compatibilidade</h4>
        <table id="tabelaCandidato" class="display">
            <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome Completo</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th>Compatibilidade (%)</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempCandidatos :${candidatos}">
                <td th:text="${tempCandidatos?.matricula}"></td>
                <td th:text="${tempCandidatos?.nomeCompleto}"></td>
                <td th:text="${tempCandidatos?.getTelefone().getCelular()}"></td>
                <td th:text="${tempCandidatos?.idade}">Anos</td>
                <td th:text="${tempCandidatos?.getCompatibilidade(vaga)}"></td>
                <td>
                    <a th:href="@{/vaga/incluirCandidato(candidato=${tempCandidatos.getId()},vaga=${vaga.getId()})}"
                       class="button is-small is-info">
                        Selecionar
                    </a>
                </td>

            </tr>
            </tbody>
        </table>


    </div>
</div>


</body>
<footer class="footer" style="background: #363636">
    <div class="content has-text-centered">
        <p style="color: white">
            <strong style="color: white"> NUEEP Estágio</strong> é um sistema desenvolvido para o Projeto Integrador do
            Terceiro Semestre<br>
            do Curso de Análise e Desenvolvimento de Sistema da Unicuritiba.
        </p>
        <a href="https://bulma.io">
            <img src="images/made-with-bulma.png" alt="Made with Bulma" width="256" height="48">
        </a>
    </div>
</footer>

</html>